.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    border-radius: 25px 25px 0 0;
    width: 100%;
    background: #d5d5d5;
    z-index: 101
}

.bottom-menu ul {
    display: flex
}

.bottom-menu ul li {
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    z-index: 1
}

.bottom-menu ul li a {
    position: relative;
    display: flex;
    text-align: center;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
}

.bottom-menu ul .indicator {
    position: absolute;
    height: 3.75rem;
    width: 3.75rem;
    background: #f8901c;
    border-radius: 100vw;
    top: -50%;
    border: 6px solid #faf9fb;
    transition: .5s
}

.bottom-menu ul .indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-right-radius: 18px;
    box-shadow: 0px -10px 0 0 #faf9fb
}

.bottom-menu ul .indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-left-radius: 18px;
    box-shadow: 0px -10px 0 0 #faf9fb
}

ul li:nth-child(1).active ~ .indicator {
    transform: translateX(0px)
}

ul li:nth-child(2).active ~ .indicator {
    transform: translateX(60px)
}

ul li:nth-child(3).active ~ .indicator {
    transform: translateX(120px)
}

ul li:nth-child(4).active ~ .indicator {
    transform: translateX(180px)
}

ul li:nth-child(5).active ~ .indicator {
    transform: translateX(240px)
}

ul li:nth-child(6).active ~ .indicator {
    transform: translateX(300px)
}

@media screen and (min-width: 950px) {
    .bottom-menu {
        left: 21%;
        width: 40%
    }
}
